body{
    background-image: url(/images/ai-generated-9654539_1280.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    filter: brightness(60%);
}
.book1{
    background: rgba(0,0,0,0.3); 
     margin-left: 350px;
    border: solid 5px black;
    padding-left: 50px;
    margin-right: 350px;
    min-height: 100vh;
   
}